<header>
      <nav class="navbar">
        <div class="navbar__logo">
          <a href="#">My Website</a>
        </div>
        <div class="navbar__items">
          <a id="hvr" href="/">Home</a>
          <a id="hvr" href="/about">About</a>
          <a id="hvr" href="/services">Services</a>
          <a id="hvr" href="/contact">Contact</a>
        </div>
        <div class="navbar__toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </header>